<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolt - Finished Run</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/shared.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
		<a href="/home" class="navbar-text">< Home</a>
		<h1 class="navbar-text">Great work!</h1>
	</nav>

	<div class="container" style="display:block">
    <h3>Time: <span id="time">{{time}}</span></h3>
    <br>
    <h3>Distance: <span id="distance">{{distance}} miles</span></h3>
    <br>
    <h3>Pace: <span id="pace">{{pace}} per mile</span></h3>
    <br>
    <!--
    <h3>Route:</h3>
    <br>
    <img src="/images/route_example.JPG" width="95%" height="200px" alt="Route">
    <p></p>
    -->
    <br>
    <button type="button" id="save_button" name="save_button">Save Run</button>
    <button type="button" id="discard_button" name="discard_button">Discard Run</button>
	</div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            initEverything();
        });

        function initEverything() {
            $('#save_button').click(function (e) {
                function datePad(s) {
                    return s.padStart(2, '0');
                }

                var runningDate = new Date();
                runningDate = `${datePad((1 + runningDate.getMonth()).toString())} / ${datePad(runningDate.getDate().toString())} / ${runningDate.getFullYear()}`;
                $.post('/saveRun', {
                    date: runningDate,
                    time: $('#time').text(),
                    distance: $('#distance').text(),
                    pace: $('#pace').text()
                }).done(function (data) {
                    window.location.href = '/past_runs';
                }).fail(function (data) {
                    if (data.status === 404) {
                        alert('Page not found');
                    } else {
                        alert(data.responseJSON.error);
                    }
                });
            });

            $('#discard_button').click(function (e) {
                window.location.href = '/home';
            });
        }
    </script>
</body>
</html>
