<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolt - Run Screen</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/shared.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
		<a href="/home" class="navbar-text">< Back</a>
		<h1 class="navbar-text">Voice Commands</h1>
	</nav>

	<div class="container flex-container">
		{{#each actions}}
		<div class="menu" id="{{id}}">
			<a href="#" class="thumbnail">
				<img src="{{image}}">
				<h2>{{name}}</h2>
			</a>
		</div>
		{{/each}}
	</div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
